
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@300;500;700&display=swap');



/* COLOR WEB */
$secondary-color:#3C8067;


/* COMPONENTS STYLES */


/* FONTS */

$font-family-title:'Fraunces';
$font-family-secondary: 'Montserrat';
$font-weight-700: 700;
$font-weight-500: 500;
$font-weight-light: 300;
$font-title-desktop-size: 36px;
$font-components-desktop-size: 16px;
$font-text-desktop-size: 18px;
$font-text-size:15px;


/* SIZES */
$width: 89px;
$height: 50px;





@import url(components/_buttons.scss);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    background-color: #F2EBE3;
    width: 100vw;
    height: 100vh;
  
    justify-content: center;
    align-items: center;
  
}

.grid{
  
     display: grid;
        width: 648px;
        height: 517px;
     
     grid-template-columns: 324px 324px;
     grid-template-rows: auto auto auto auto auto auto;
    
  

  
     
    font-family: $font-family-secondary;
     font-size: $font-text-desktop-size;
     background-color: white;
     border-radius: 10px;

  

    

}

.card-image{

   grid-column: 1/2;
   grid-row: 1/6;
   width: 324px;
   height: 517px;
   border-radius: 10px 0 0 10px;
   
   
}



.grid-pretitle{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 20px;
 
   margin-top: 30px;
    font-weight: $font-weight-light;
    letter-spacing: 5px;
    color: rgba(9, 8, 8, 0.94);

    

}
.grid-title{
    grid-column: 2/3;
    margin-left: 20px;
    font-family: $font-family-title;
    font-size: $font-title-desktop-size;
    
   
}
.grid-paragraph{
    grid-column: 2/3;
    grid-row: 3/4;
    margin-left: 20px;
    font-weight: $font-weight-light;
    line-height: 1.5;
    color: rgba(9, 8, 8, 0.94);



}

.grid-price {
    grid-column: 2/3;
    grid-row: 4/5;
    margin-left: 20px;
    font-family: $font-family-title;
    font-size: $font-text-desktop-size +14;
    display: flex;
    align-self: center;
    color: $secondary-color;
    margin-bottom: 20px;
  
    
}

.grid-last-price{
    grid-column: 2/3;
    grid-row: 4/5;
    margin-left: 50%;
    display: flex;
    align-self: center;
    font-weight: $font-weight-light;
    font-size: $font-text-desktop-size +2;
    text-decoration: line-through;
    margin-bottom: 20px;
    color: rgba(9, 8, 8, 0.94);

  


 
}



.btn{
    grid-column: 2/3;
    grid-row: 5/6;
  
    border-radius: 10px;
    font-family: $font-family-title;
    font-size:$font-text-desktop-size;
    margin-left: 20px;
    color: white;
    cursor: pointer;
    border: 0;
   
    

}
.btn:hover{
    background: linear-gradient(45deg, #1b3628, #0f4230, #a2c9bc);
}

.item{
  margin-right: 20px;
  
}